.modalImage {
    width: 100% !important;
    height: 300px;
    margin: 0 !important;
    padding: 0 !important;
}

.modalList {
    list-style: none;
}

.material-icons {
    font-size: 30px;
}

.opening {
    color: rgb(143, 235, 143);
}

.close {
    color: rgb(230, 123, 123);
}

.star {
    color: rgba(223, 193, 26, 0.884);
}

.musicTrue {
    color: green;
}

.musicFalse {
    color: red;
}

.comments {
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
}

.commentsMuted {
    font-size: 20px;
    color: grey;
    padding: 5px;
}