.comment {
    border: 1px solid rgba(167, 164, 164, 0.651);
    padding: 5px;
    font-size: 25px; 
    margin-top: 10px  
}

.commentMuted {
    font-size: 25px;
    color: grey;
    padding: 10px;
}

.star {
    color: gold;
}